body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
    color: inherit; /* Para que herede el color del elemento padre */
  }